<a href="https://colab.research.google.com/github/yongsa-nut/SF251_68_2/blob/main/SF251_HW4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HW4 - Data Cleaning and Regex
## DUE: 19th Feb 2026

- There are 12 questions in this homework. 3 poitns total.
- Data for this homework can be found [HW4.zip](https://github.com/yongsa-nut/SF251_67_2/blob/main/data/HW4.zip)

## Regex Practices

- Run the code below so you can check your answers.

In [ ]:
import re

# function to check your regex
def test_regex(pattern, test_cases, expected_results, match_type='full'):
    print(f"Testing pattern: {pattern}")

    for i, (test, expected) in enumerate(zip(test_cases, expected_results), 1):
        if match_type == 'full':
            result = bool(re.fullmatch(pattern, test))
            match_text = 'matches' if result else 'does not match'
        elif match_type == 'search':
            result = bool(re.search(pattern, test))
            match_text = 'contains match' if result else 'does not contain match'

        print(f"Test {i}: {'✓' if result == expected else '✗'} - '{test}' {match_text}")

        if match_type == 'search' and result:
            matches = re.findall(pattern, test)
            print(f"   Matches found: {matches}")

    print()

## Q1a - Uppercase and lowercase only

Write a regular expression to match a string that contains only uppercase and lowercase letters (no numbers or special characters).

- Match: HelloWorld, abcDEF, RegexPractice
- Not match: Hello123, Special@Characters, With Spaces

In [ ]:
pattern_1a = r"..."  # Fill in your regex here

## Test cases
test_cases_1a = ["HelloWorld", "abcDEF", "RegexPractice", "Hello123", "Special@Characters", "With Spaces"]
expected_1a = [True, True, True, False, False, False]
test_regex(pattern_1a, test_cases_1a, expected_1a)

### Q1b - Zip codes
Create a regex pattern to match a zip code in the format xxxxx or xxxxx-xxxx, where x represents a digit.

- Match: 12345, 12345-6789
- Not match: 1234, 123, 123456, 12345-678

In [ ]:
pattern_1b = r"..."  # Fill in your regex here

## Test cases
test_cases_1b = ["12345", "12345-6789", "1234", "123", "123456", "12345-678"]
expected_1b = [True, True, False, False, False, False]
test_regex(pattern_1b, test_cases_1b, expected_1b)

### Q1c - Time

Develop a regex pattern to match a time in 24-hour format (HH:MM), where HH is between 00 and 23, and MM is between 00 and 59.

- Match: 13:45, 00:00, 23:59
- Not match: 24:00, 12:60, 1:30

In [ ]:
pattern_1c = r"..."  # Fill in your regex here

## Test cases
test_cases_1c = ["13:45", "00:00", "23:59", "24:00", "12:60", "1:30"]
expected_1c = [True, True, True, False, False, False]
test_regex(pattern_1c, test_cases_1c, expected_1c)

### Q1d - username

Write a regular expression to match a string that contains only lowercase letters and underscores, starts with a letter, and is between 3 and 16 characters long.

- Match: hello_world, a_b_c
- Not match: username_123, _hello, ab, abcdefghijklmnopq

In [ ]:
pattern_1d = r"..."  # Fill in your regex here

## Test cases
test_cases_1d = ["hello_world", "a_b_c" "username_123", "_hello", "ab", "abcdefghijklmnopq"]
expected_1d = [True, True, False, False, False, False]
test_regex(pattern_1d, test_cases_1d, expected_1d)

### Q1e - Apple or Orange

Create a regex pattern to find the word "apple" or "orange" in a sentence.

- Match: "I prefer apple juice over orange juice." (Match: apple, orange), "The orange cat played with an apple." (Match: orange, apple)

- Not Match: "Pineapple is my favorite fruit.", "He wore an oran shirt."

In [ ]:
pattern_1e = r"..."  # Fill in your regex here

## Test cases
test_cases_1e = [
            "I prefer apple juice over orange juice.",
            "The orange cat played with an apple.",
            "Pineapple is my favorite fruit.",
            "He wore an oran shirt."
               ]
expected_1e = [True, True, False, False]
test_regex(pattern_1e, test_cases_1e, expected_1e,'search')



---

## TSE Training Program

สำหรับ data ที่สองนั้น เป็น data มาจาก TSE Training Program: Introduction to Modern Information Techonology ที่เกิดขึ้นไปในวันที่ 29 เมษายน - 2 พฤษภาคม ที่ผ่านมาที่ภาคของเรา ซึ่งโปรแกรมนี้นั้นมีเด็กมัธยม 77 คนมาเข้าร่วม (ไม่ได้ตอบแบบสอบถามทุกคน) และแบ่งเป็นสองกลุ่ม กลุ่มภาษาไทย กับ กลุ่มภาษาอังกฤษ ดังนั้นเราจึงมีข้อมูลสองอัน ภาษาไทยอันหนึ่ง และภาษาอังกฤษอีกอันหนึ่ง

ข้อมูลที่ได้มานั้น ทางโครงการ TEP/TEPE เป็นคนจัดเก็บไว้หลังจากเสร็จงาน

ในการจัดอบรมนี้นั้นมีหลายโปรแกรมด้วยกัน ประกอบไปด้วย
1) การเสวนาหัวข้อ Intro to Modern IT
2) หัวข้อ TSE Showcase
3) การดูงานนอกสถานที่
4) กิจกรรม Workshop

ส่วนที่เราสนใจนั้นคือ Workshop ซึ่ง เราต้องการทราบว่า นักเรียนมีความพึ่งพอใจแค่ไหน
ดังนั้นข้อมูลที่เราต้องการรู้มีสามอย่างคือ
1) กิจกรรม workshop (Workshop activity)
2) การถ่ายทอดของผู้สอน/ผู้บรรยาย (The instructors/lecturers are performance)
3) ผลที่่ได้รับที่ได้รับจากการอบรม ตรงตามที่คาดหวัง (The TSE training objectives were met.)

หมายเหตุ: ข้อมูลที่นำมาใช้ได้มีการลบข้อมูลส่วนบุคคลออกหมดแล้ว

In [ ]:
TSE_Thai = pd.read_csv("HW4/TSE Training THAI - Sheet1.csv")
TSE_Eng = pd.read_csv("HW4/TSE Training ENG - Sheet1.csv")

In [ ]:
# Check the data. It's small so we can print the whole thing
TSE_Thai

In [ ]:
TSE_Eng

### Q2a เปลี่ยนชื่อ columns

เริ่มแรกเราจะเปลี่ยนชื่อ columns ที่เราต้องการให้สั้นๆ และเหมือนกันทั้งสอง dataset
เราจะเปลี่ยนสามข้อต่อไปนี้ เป็นดังนี้

1. "ความพึงพอใจในกิจกรรม (5 ดีมาก >>1 ควรปรับปรุง) [กิจกรรม Workshop]"/"The statements [Workshop activity]" เป็น `"Workshop"`

2. "ความพึงพอใจในกิจกรรม (5 ดีมาก >>1 ควรปรับปรุง) [การถ่ายทอดของผู้สอน/ผู้บรรยาย ]"/"The statements [The instructors/lecturers are performance.]" เป็น `"Instructors"`

3. "ความพึงพอใจในกิจกรรม (5 ดีมาก >>1 ควรปรับปรุง) [ผลที่่ได้รับที่ได้รับจากการอบรม ตรงตามที่คาดหวัง]"/"The statements [The TSE training objectives were met.]" เป็น `"Expectation"`

In [ ]:
TSE_Thai = ...
TSE_Thai

In [ ]:
TSE_Eng = ...
TSE_Eng

### Q2b สร้าง Data ใหม่ จากสองอันเก่า

ถัดไปเราจะสร้าง Data ใหม่ชื่อ `TSE_all` ซึ่งจะมาจากการเอา `TSE_Thai` กับ `TSE_Eng` มาต่อกัน และมีแค่ columns ที่เราต้องการดังนี้
1. Group
2. Workshop
3. Instructors
4. Expectation

ในการจะเอา DataFrame มาต่อกันตาม row นั้นเราสามรถใช้คำสั่ง `pd.concat([df1, df2])` ได้
ในการต่อกันแบบนี้ column ที่ชื่อเดียวกันจะเอาค่ามาต่อกัน

In [ ]:
TSE_all = ...
TSE_all

### Q2c Clean up string

ขั้นถัดไปเราจะต้องมาจัดค่าคำตอบซึ่งตอนนี้ จะประกอบไปด้วย ตัวเลขตามตัวคำที่เป็นภาษาอังกฤษหรือไทย เช่น "5 ดีมาก" หรือ "5 Excellent"

ให้เปลี่ยนค่า ของ `Workshop`, `Instructors`, และ `Expectation` ให้เหลือตัวเลขเท่านั้น

In [ ]:
...
TSE_all

### Q2d Wide data to Long data

ตอนนี้ Data ของเราเป็น Wide format  ทำให้ไม่สามารถ ใช้ plot ด้วย ggplot ได้ตรงๆ
เราจะต้องมีการปรับเปลี่ยน Data ให้เป็น Long format ก่อน โดยที่ข้อมูลใหม่จะมี 3 columns ดังนี้
- Group
- Question
- Rating

จงเปลี่ยน `TSE_all` ตอนนี้ให้เป็นรูปแบบที่กำหนด และเก็บค่าไว้ใน `TSE_all_long`

In [ ]:
...
TSE_all_long

### Q2e Boxplot ของทั้งสามคำถาม

จงสร้าง boxplot สำหรับ ที่แกน x เป็น `Workshop`, `Instructors`, และ `Expectation`

**หมายเหตุ**: ต้องเปลี่ยนค่า `Rating` ให้เป็น int ก่อน

### Q2f Boxplot ของทั้งสามคำถาม x Group

สร้าง boxplot ที่เหมาะสม สำหรับการเปรียบเทียบ ระหว่างกลุ่มภาษาไทยกับภาษาอังกฤษ (`Group`) ของทั้งสามคำถาม (`Workshop`, `Instructors`, และ `Expectation`)

### Q2g หาค่า Mean ของแต่ละค่า

ถัดไป เราอยากรู้ค่าเฉลี่ยของแต่ละตัวแปรมีค่าเท่าไร

จงสร้าง DataFrame อันใหม่ที่มีสอง columns:

- Question
- Rating ที่เป็น ค่า Mean

และเก็บค่าไว้ที่ `TSE_all_mean`

In [ ]:
...
TSE_all_mean

# Submission
- File > Download > Download .ipynb
- Upload to MS Teams